.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  text-align: left;
  background-color: #fff;
}

.ocupado {
  color: red;
  font-weight: bold;
}

.livre {
  color: green;
  font-weight: bold;
}
